# IMMICH DEPLOYMENT
:8080 {
    reverse_proxy immich-server:2283

    encode gzip zstd

    header {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
    }

    log {
        output file /data/access.log
        format json
    }
}


# POCKET ID DEPLOYMENT
:8081 {
    reverse_proxy pocket-id:1411 {
        header_up Origin {scheme}://{host}
    }
    encode gzip zstd

    header {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
    }
}

# ARCANE DEPLOYMENT
:8082 {
    reverse_proxy arcane:3552 {
        header_up Origin {scheme}://{host}
    }
    encode gzip zstd
}

# VAULTWARDEN DEPLOYMENT
:8084 {
  encode zstd gzip

  reverse_proxy vaultwarden:80 {
       # header_up X-Real-IP {http.request.header.Cf-Connecting-Ip}
        header_up X-Real-IP {remote_host}
  }
}

# ACTUAL BUDGET DEPLOYMENT
:8085 {
    encode gzip zstd
    reverse_proxy actual_server:5006
}

# ZEROBYTE DEPLOYMENT
:8086 {
    encode zstd gzip
    reverse_proxy zerobyte:4096
}

# DAWARICH TRACKER EPLOYMENT
:8087 {
    reverse_proxy dawarich_app:3000 {
       header_up X-Real-IP {remote_addr}
       header_up X-Forwarded-Proto https
       header_up X-Forwarded-For {remote_addr}
       header_up X-Forwarded-Scheme {scheme}
    }
    encode brotli {
        match {
            content_type text/css text/plain text/xml text/x-component text/javascript application/x-javascript application/javascript application/json application/manifest+json application/vnd.api+json application/xml application/xhtml+xml application/rss+xml application/atom+xml application/vnd.ms-fontobject application/x-font-ttf application/x-font-opentype application/x-font-truetype image/svg+xml image/x-icon image/vnd.microsoft.icon font/ttf font/eot font/otf font/opentype
        }
    }
}

# BRICK TRACKER EPLOYMENT
:8088 {
    encode zstd gzip
    reverse_proxy brick-tracker:5000
}

