services:
  caddy:
    image: caddy:2
    container_name: reverse_proxy_caddy
    restart: unless-stopped
    expose:
      - "8080"
    ports:
      - "8080:8080"
    networks:
      - caddy_public
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy_data:/data
      - ./caddy_config:/config
    extra_hosts:
      - "host.docker.internal:host-gateway"

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: reverse_proxy_cloudflared
    restart: unless-stopped
    networks:
      - caddy_public
    depends_on:
      - caddy
    command: tunnel run --token ${CLOUDFLARE_TUNNEL_TOKEN}
    env_file:
      - .env

  netdata:
    image: netdata/netdata
    container_name: reverse_proxy_netdata
    pid: host
    restart: unless-stopped
    networks:
      - caddy_public
    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    volumes:
      - netdataconfig:/etc/netdata
      - netdatalib:/var/lib/netdata
      - netdatacache:/var/cache/netdata
      - /:/host/root:ro,rslave
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /etc/localtime:/etc/localtime:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
      - /var/log:/host/var/log:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

  portainer:
    container_name: reverse_proxy_portainer
    image: portainer/portainer-ce:lts
    networks:
      - caddy_public
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - reverse_proxy_portainer_data:/data

volumes:
  netdataconfig:
  netdatalib:
  netdatacache:
  reverse_proxy_portainer_data:
    name: reverse_proxy_portainer_data

networks:
  caddy_public:
    driver: bridge
    name: "caddy_public"
